*.egg-info
*.pyc
*.pyo
*.sqlite
*.~*
*credentials.*
.cache
.coverage
.idea
.venv
.tox
/dist
/build
/media
__pycache__
CACHE
celerybeat-schedule
coverage.xml
djcelery.schedulers.DatabaseScheduler
local.yaml
pytest.xml
~*
.project
.pydevproject
Pipfile
.env
