include README
include CHANGES
include LICENSE
include MANIFEST.in

exclude Pipfile
exclude Pipfile.lock
exclude manage.py
exclude .gitignore
exclude Makefile
exclude tox.ini
exclude .pre-commit-config.yaml

recursive-include docs *
recursive-include src/requirements *.pip
recursive-include src/django_db_logging *

prune tests
prune docs
prune .github
